.sidebar {
  width: 16%;
}

.sidebar-nav li {
  display: flex;
  color: white;
  opacity: 0.5;
  margin-top: 6px;
  font-weight: 400;
}
.sidebar-nav {
  margin-top: 25px;
}

.sidebar-nav-middle {
  margin-top: 25px;
}

.sidebar-nav-middle > li {
  display: flex;
  color: white;
  opacity: 0.5;
  margin-top: 6px;
}
.sidebar-nav-bottom li img {
  opacity: 1;
  margin-right: 8px;
}

.sidebar-nav-bottom > li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  color: white;
  opacity: 0.5;
}

.base-icon {
  margin-left: 8px;
}

p {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.home {
  color: #ff0000;
}

h3 {
  opacity: 1;
}
